<!--Start: Channels Log Out Section 1-->
<div ng-controller="ctrl_channel">
    <!-- dafult view -->
    <div ng-hide="!defaultView">
        <section id="Section_channelsLogOut1" class="vt-channels-wrapper1 vt-channelsLog1-wrapper vt-channels--background-1 vt-overlay--black-light">
            <div class="d-flex align-items-center py-5">
                <div class="container">
                    <div class="{{'vt-channel__content' + ($index+1)}} col-md-12 col-lg-6 pb-5" id="{{'divVtbChannelCarouselLink' + ($index + 1) + 'Content'}}" ng-repeat="channels in bannerChannels track by $index " ng-check-banner="">
                        <!-- <p id="txtVtbChannelCategory" class="text-muted mb-2">Lorem Ipsum</p> -->

                        <h1 id="txtVtbChannelName">{{channels.title}}</h1>
                        <div class="vt-border__bottom pb-2">
                            <p class="mb-0 text-muted ">توسط<span id="txtVtbVideoUploader">{{channels.createdBy}}</span> . <span id="txtVtbUploadDate">{{channels.days}}</span></p>
                            <p class="mb-0 text-muted "><span id="txtVtbChannelFollowers">{{channels.followers}}</span> دنبال کنندگان.
                                <span id="txtVtbChannelTotalVideos">{{channels.likes}}</span> الإعجابات</p>
                        </div>
                        <div class="py-2">
                            <p id="txtVtbVideoDescription">{{channels.description}} </p>
                        </div>
                        <div class="d-flex mt-3"><button id="btnVtbFollowLink5" ng-if="isLogged && (!isFollowing(channels.id))" ng-click="follow(channels.id, $event); $event.stopPropagation()" class="btn btn-primary d-flex mr-1"><picture><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><img class="vt-cards--playbtn align-self-center mr-1 d-inline-flex" src="./Resources/vtube/images/vt-likes.svg" alt="Play icon" /></picture>
 دنبال کنید
                            </button><button id="btnVtbFollowLink5" ng-if="isLogged && (isFollowing(channels.id))" ng-click="unfollow(channels.id, $event); $event.stopPropagation()" class="btn btn-primary d-flex mr-1"><picture><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><img class="vt-cards--playbtn align-self-center mr-1 d-inline-flex" src="./Resources/vtube/images/vt-likes.svg" alt="Play icon" /></picture>
 پیگیری را لغو کنید
                            </button>
                            <!-- href="?/channel-landing/{{channels.Id}}" -->
                            <a id="btnVtbViewChannelLink1" class="btn btn-info d-flex" href="/fa/channel-landing?channel={{channels.id}}">
 عرض القناة
                            </a></div>
                    </div>
                    <div id="crslVtbChannels" class="vt-carousel__RelatedVideos owl-carousel owl-theme">
                        <div id="{{'pVtbChannelCarouselLink' + ($index + 1)}}" class="mb-3" href="#" ng-repeat="channels in bannerChannels track by $index" ng-check-carousel="">
                            <div class="vt-card-wrapper-col-3 col-md-auto px-0 mb-2 mx-auto mx-md-1">
                                <div class="vt-cards__points-top vt-background--blue-dark row">
                                    <div class="px-2 py-1 d-flex float-left">
                                        <picture class="d-flex">
                                            <source srcset="/Resources/vtube/images/vt-points.svg"></source>
                                            <source srcset="/Resources/vtube/images/vt-points.svg"></source><img src="./Resources/vtube/images/vt-points.svg" alt="Points icon" /></picture>
                                        <span id="txtVtbPoints" class="pl-1 small">{{channels.points}}</span>
                                    </div>
                                </div>
                                <picture>
                                    <source srcset="{{channels.thumbnail}}"></source>
                                    <source srcset="https://via.placeholder.com/273x180"></source><img class="rounded img-fluid" src="{{channels.thumbnail}}" alt="Card Placeholder" /></picture>
                            </div>
                            <div class="text-center">
                                <p class="mb-1">{{channels.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End: Channels Log Out Section 1-->
        <!--Start: Channels Log Out Section 2-->
        <section id="Section_channelsLogOut2" class="vt-channelsLog2-wrapper vt-background--grey">
            <div class="container py-4">
                <div class="d-flex text-light pb-3">
                    <h4 id="txtVtbAllChannelsOutTitle" class="pr-2">همه کانالها</h4>
                    <a id="linkVtbAllChannels" href="" class="px-3 vt-seeall__link pt-1" ng-click="changeView($event)">
                        <picture class="d-inline-flex">
                            <source srcset="/Resources/vtube/images/vt-arrow-left.svg" type="image/webp"></source>
                            <source srcset="/Resources/vtube/images/vt-arrow-left.svg" type="image/jpeg"></source><img src="./Resources/vtube/images/vt-arrow-left.svg" alt="arrow right icon" /></picture>
                        نمایش همه
                    </a>
                </div>
                <div class="row vt-cards d-flex justify-content-center text-light">
                    <div class="mb-3" ng-repeat="channels in allChannels">
                        <div class="vt-card-wrapper col-md-auto px-0 mb-2 mx-1">
                            <div class="vt-cards__points-top vt-background--blue-dark row">
                                <div class="px-2 py-1 d-flex float-left">
                                    <picture class="d-flex">
                                        <source srcset="/Resources/vtube/images/vt-points.svg"></source>
                                        <source srcset="/Resources/vtube/images/vt-points.svg"></source><img src="./Resources/vtube/images/vt-points.svg" alt="Points icon" /></picture>
                                    <span id="txtVtbPoints" class="pl-1 small">{{channels.points}}</span>
                                </div>
                            </div>
                            <div class="vt-cards--darker rounded"></div>
                            <div class="vt-cards__overlay">
                                <div class="d-flex mb-3"><button id="btnVtbFollowLink5" ng-if="isLogged && (!isFollowing(channels.id))" ng-click="follow(channels.id, $event); $event.stopPropagation()" class="btn btn-primary d-flex mr-1"><picture><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><img class="vt-cards--playbtn align-self-center mr-1 d-inline-flex" src="./Resources/vtube/images/vt-likes.svg" alt="Play icon" /></picture>
 دنبال کنید
                                    </button><button id="btnVtbFollowLink5" ng-if="isLogged && (isFollowing(channels.id))" ng-click="unfollow(channels.id, $event); $event.stopPropagation()" class="btn btn-primary d-flex mr-1"><picture><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><img class="vt-cards--playbtn align-self-center mr-1 d-inline-flex" src="./Resources/vtube/images/vt-likes.svg" alt="Play icon" /></picture>
 پیگیری را لغو کنید
                                    </button><a id="btnVtbViewChannelLink1" href="/ar/channel-landing?channel={{channels.id}}" class="btn btn-info d-flex">عرض القناة
                                    </a></div>
                                <div>
                                    <p class=" text-muted mb-1">توسط
                                        <span id="txtVtbuploader">{{channels.createdBy}}</span>
                                        <span class="text-muted"> . </span>
                                        <span id="txtVtbdateUploaded" class="text-muted">{{channels.days}}
 </span></p>
                                </div>
                                <div>
                                    <p class="text-muted mb-1"><span id="txtVtbvideoViews">{{channels.views}}</span> الآراء
                                        <span class="text-muted"> . </span>
                                        <span id="txtVtbvideoLikes">{{channels.likes}}</span> الإعجابات
                                    </p>
                                </div>
                            </div>
                            <picture>
                                <source srcset="{{channels.thumbnail}}"></source>
                                <source srcset="https://via.placeholder.com/273x180"></source><img class="vt-card--image rounded img-fluid" src="https://via.placeholder.com/273x180" alt="Card Placeholder" /></picture>
                        </div>
                        <div class="text-center">
                            <p class="mb-1 vt-card-title"><a id="btnVtbPlay" href="">{{channels.title}}
 </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- see all view -->
    <div ng-hide="defaultView">
        <!--Start: Videos Log Out Section 1-->
        <section id="Section_videosLogOut1" class="vt-videosLog1-wrapper vt-background--grey">
            <div class="container py-4">
                <div class="d-flex text-light pb-3">
                    <h4 id="txtVtbRecentlyAddedVideosTitle" class="pr-2">جميع القنوات</h4>
                    <a id="linkVtbRecentlyAddedVideos" class="pt-1 t-seeall--link" href="/ar/see-all?see=channel&amp;allof=Latest">
                        <picture class="d-inline-flex">
                            <source srcset="/Resources/vtube/images/vt-arrow-left.svg" type="image/webp"></source>
                            <source srcset="/Resources/vtube/images/vt-arrow-left.svg" type="image/jpeg"></source><img src="./Resources/vtube/images/vt-arrow-left.svg" alt="arrow right icon" /></picture>
                        نمایش همه
                    </a>

                </div>
                <div class="row vt-cards d-flex justify-content-center text-light">
                    <div class="mb-3" ng-repeat="channels in latestChannels">
                        <div class="vt-card-wrapper col-md-auto px-0 mb-2 mx-1">
                            <div class="vt-cards__points-top vt-background--blue-dark row">
                                <div class="px-2 py-1 d-flex float-left">
                                    <picture class="d-flex">
                                        <source srcset="/Resources/vtube/images/vt-points.svg"></source>
                                        <source srcset="/Resources/vtube/images/vt-points.svg"></source><img src="./Resources/vtube/images/vt-points.svg" alt="Points icon" /></picture>
                                    <span id="txtVtbPoints" class="pl-1 small">{{channels.points}}</span>
                                </div>
                            </div>
                            <div class="vt-cards--darker rounded"></div>
                            <div class="vt-cards__overlay">
                                <div class="d-flex mb-3"><button id="btnVtbFollowLink5" ng-if="isLogged && (!isFollowing(channels.id))" ng-click="follow(channels.id, $event); $event.stopPropagation()" class="btn btn-primary d-flex mr-1"><picture><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><img class="vt-cards--playbtn align-self-center mr-1 d-inline-flex" src="./Resources/vtube/images/vt-likes.svg" alt="Play icon" /></picture>
 دنبال کنید
                                    </button><button id="btnVtbFollowLink5" ng-if="isLogged && (isFollowing(channels.id))" ng-click="unfollow(channels.id, $event); $event.stopPropagation()" class="btn btn-primary d-flex mr-1"><picture><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><img class="vt-cards--playbtn align-self-center mr-1 d-inline-flex" src="./Resources/vtube/images/vt-likes.svg" alt="Play icon" /></picture>
 پیگیری را لغو کنید
                                    </button><a id="btnVtbViewChannelLink1" href="/fa/channel-landing?channel={{channels.id}}" class="btn btn-info d-flex">عرض القناة

                                    </a></div>
                                <div>
                                    <p class=" text-muted mb-1">توسط
                                        <span id="txtVtbuploader">{{channels.createdBy}}</span>
                                        <span class="text-muted"> . </span>
                                        <span id="txtVtbdateUploaded" class="text-muted">{{channels.days}}
 </span></p>
                                </div>
                                <div>
                                    <p class="text-muted mb-1"><span id="txtVtbvideoViews">{{channels.views}}</span> الآراء
                                        <span class="text-muted"> . </span>
                                        <span id="txtVtbvideoLikes">{{channels.likes}}</span> الإعجابات
                                    </p>
                                </div>
                            </div>
                            <picture>
                                <source srcset="{{channels.thumbnail}}"></source>
                                <source srcset="https://via.placeholder.com/273x180"></source><img class="vt-card--image rounded img-fluid" src="https://via.placeholder.com/273x180" alt="Card Placeholder" /></picture>
                        </div>
                        <div class="text-center">
                            <p class="mb-1 vt-card-title"><a id="btnVtbPlay" href="">{{channels.title}}
 </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center " ng-if="canViewMoreLatest"><button id="btnVtbVideosViewMore" ng-click="loadLatest(8, $event)" class="btn btn-dark">عرض المزيد</button></div>
            </div>
        </section>
        <!--End: Videos Log Out Section 1-->
        <!--Start: Videos Log Out Section 2-->
        <section id="Section_videosLogOut2" class="vt-videosLog2-wrapper vt-background--grey">
            <div class="container py-4">
                <div class="d-flex text-light pb-3">
                    <h4 id="txtVtbRecommendedVideosTitle" class="pr-2">کانال پیشنهادی</h4>
                    <a id="linkVtbRecommendedVideos" class="pt-1 t-seeall--link" href="/fa/see-all?see=channel&amp;allof=Recommended">
                        <picture class="d-inline-flex">
                            <source srcset="/Resources/vtube/images/vt-arrow-left.svg" type="image/webp"></source>
                            <source srcset="/Resources/vtube/images/vt-arrow-left.svg" type="image/jpeg"></source><img src="./Resources/vtube/images/vt-arrow-left.svg" alt="arrow right icon" /></picture>
                        نمایش همه
                    </a>

                </div>
                <div class="row vt-cards d-flex justify-content-center text-light">
                    <diiv class="mb-3" ng-repeat="channels in recommendedChannels">
                        <div class="vt-card-wrapper col-md-auto px-0 mb-2 mx-1">
                            <div class="vt-cards__points-top vt-background--blue-dark row">
                                <div class="px-2 py-1 d-flex float-left">
                                    <picture class="d-flex">
                                        <source srcset="/Resources/vtube/images/vt-points.svg"></source>
                                        <source srcset="/Resources/vtube/images/vt-points.svg"></source><img src="./Resources/vtube/images/vt-points.svg" alt="Points icon" /></picture>
                                    <span id="txtVtbPoints" class="pl-1 small">{{channels.points}}</span>
                                </div>
                            </div>
                            <div class="vt-cards--darker rounded"></div>
                            <div class="vt-cards__overlay">
                                <div class="d-flex mb-3"><button id="btnVtbFollowLink5" ng-if="isLogged && (!isFollowing(channels.id))" ng-click="follow(channels.id, $event); $event.stopPropagation()" class="btn btn-primary d-flex mr-1"><picture><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><img class="vt-cards--playbtn align-self-center mr-1 d-inline-flex" src="./Resources/vtube/images/vt-likes.svg" alt="Play icon" /></picture>
 دنبال کنید
                                    </button><button id="btnVtbFollowLink5" ng-if="isLogged && (isFollowing(channels.id))" ng-click="unfollow(channels.id, $event); $event.stopPropagation()" class="btn btn-primary d-flex mr-1"><picture><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><img class="vt-cards--playbtn align-self-center mr-1 d-inline-flex" src="./Resources/vtube/images/vt-likes.svg" alt="Play icon" /></picture>
 پیگیری را لغو کنید
                                    </button><a id="btnVtbViewChannelLink1" href="/ar/channel-landing?channel={{channels.id}}" class="btn btn-info d-flex">عرض القنوات
                                    </a></div>
                                <div>
                                    <p class=" text-muted mb-1">توسط
                                        <span id="txtVtbuploader">{{channels.createdBy}}</span>
                                        <span class="text-muted"> . </span>
                                        <span id="txtVtbdateUploaded" class="text-muted">{{channels.days}}
 </span></p>
                                </div>
                                <div>
                                    <p class="text-muted mb-1"><span id="txtVtbvideoViews">{{channels.views}}</span> الآراء
                                        <span class="text-muted"> . </span>
                                        <span id="txtVtbvideoLikes">{{channels.likes}}</span> الإعجابات
                                    </p>
                                </div>
                            </div>
                            <picture>
                                <source srcset="{{channels.thumbnail}}"></source>
                                <source srcset="https://via.placeholder.com/273x180"></source><img class="vt-card--image rounded img-fluid" src="https://via.placeholder.com/273x180" alt="Card Placeholder" /></picture>
                        </div>
                        <div class="text-center">
                            <p class="mb-1 vt-card-title"><a id="btnVtbPlay" href="">{{channels.title}}
 </a>
                            </p>
                        </div>
                    </diiv>
                </div>
            </div>
            <div class="d-flex justify-content-center " ng-if="canViewMoreRecom"><button id="btnVtbRecVideosViewMore" ng-click="loadRecommended(8, $event)" class="btn btn-dark">عرض المزيد
                </button></div>
        </section>
        <!--End: Videos Log Out Section 2-->
        <!--Start: Videos Log Out Section 3-->
        <section id="Section_videosLogOut3" class="vt-videosLog3-wrapper vt-background--grey">
            <div class="container py-4">
                <div class="d-flex text-light pb-3">
                    <h4 id="txtVtbMostViewedTitle" class="pr-2">بیشترین بازدید کاننة</h4>
                    <a id="linkVtbMostViewedVideos" class="pt-1 t-seeall--link" href="/ar/see-all?see=channel&amp;allof=Viewed">
                        <picture class="d-inline-flex">
                            <source srcset="/Resources/vtube/images/vt-arrow-left.svg" type="image/webp"></source>
                            <source srcset="/Resources/vtube/images/vt-arrow-left.svg" type="image/jpeg"></source><img src="./Resources/vtube/images/vt-arrow-left.svg" alt="arrow right icon" /></picture>
                        نمایش همه
                    </a>

                </div>
                <div class="row vt-cards d-flex justify-content-center text-light">
                    <div class="mb-3" ng-repeat="channels in byViewsChannels">
                        <div class="vt-card-wrapper col-md-auto px-0 mb-2 mx-1">
                            <div class="vt-cards__points-top vt-background--blue-dark row">
                                <div class="px-2 py-1 d-flex float-left">
                                    <picture class="d-flex">
                                        <source srcset="/Resources/vtube/images/vt-points.svg"></source>
                                        <source srcset="/Resources/vtube/images/vt-points.svg"></source><img src="./Resources/vtube/images/vt-points.svg" alt="Points icon" /></picture>
                                    <span id="txtVtbPoints" class="pl-1 small">{{channels.points}}</span>
                                </div>
                            </div>
                            <div class="vt-cards--darker rounded"></div>
                            <div class="vt-cards__overlay">
                                <div class="d-flex mb-3"><button id="btnVtbFollowLink5" ng-if="isLogged && (!isFollowing(channels.id))" ng-click="follow(channels.id, $event); $event.stopPropagation()" class="btn btn-primary d-flex mr-1"><picture><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><img class="vt-cards--playbtn align-self-center mr-1 d-inline-flex" src="./Resources/vtube/images/vt-likes.svg" alt="Play icon" /></picture>
 دنبال کنید
                                    </button><button id="btnVtbFollowLink5" ng-if="isLogged && (isFollowing(channels.id))" ng-click="unfollow(channels.id, $event); $event.stopPropagation()" class="btn btn-primary d-flex mr-1"><picture><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><img class="vt-cards--playbtn align-self-center mr-1 d-inline-flex" src="./Resources/vtube/images/vt-likes.svg" alt="Play icon" /></picture>
 پیگیری را لغو کنید
                                    </button><a id="btnVtbViewChannelLink1" href="/fa/channel-landing?channel={{channels.id}}" class="btn btn-info d-flex">عرض القناة
                                    </a></div>
                                <div>
                                    <p class=" text-muted mb-1">توسط
                                        <span id="txtVtbuploader">{{channels.createdBy}}</span>
                                        <span class="text-muted"> . </span>
                                        <span id="txtVtbdateUploaded" class="text-muted">{{channels.days}}
 </span></p>
                                </div>
                                <div>
                                    <p class="text-muted mb-1"><span id="txtVtbvideoViews">{{channels.views}}</span> الآراء
                                        <span class="text-muted"> . </span>
                                        <span id="txtVtbvideoLikes">{{channels.likes}}</span> الإعجابات
                                    </p>
                                </div>
                            </div>
                            <picture>
                                <source srcset="{{channels.thumbnail}}"></source>
                                <source srcset="https://via.placeholder.com/273x180"></source><img class="vt-card--image rounded img-fluid" src="https://via.placeholder.com/273x180" alt="Card Placeholder" /></picture>
                        </div>
                        <div class="text-center">
                            <p class="mb-1 vt-card-title"><a id="btnVtbPlay" href="">{{channels.title}}
 </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center " ng-if="canViewMoreViews"><button id="btnVtbByViewsVideosViewMore" ng-click="loadByViews(8, $event)" class="btn btn-dark">مشاهده
 بیشتر</button></div>
            </div>
        </section>
        <!-- all channels -->

    </div>
    <!--End: Videos Log Out Section 3-->

</div>