<!--Start: Contact Us Section 1-->
<section id="Section_ContactUs" class="vt-ContactUs-wrapper vt-background--grey py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="vt-background--grey-light p-4 my-2" style="text-align:left;">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                <h4>اتصل بنا</h4>
                                <p>إذا كنت تواجه مشكلة في الوصول إلى موقعنا على شبكة الإنترنت ، أو لديك المزيد من
                                    الأسئلة التي غير متوفرة في صفحة الأسئلة الشائعة ، يرجى الاتصال بنا من خلال عناوين
                                    البريد الإلكتروني التالية.</p>
                                <p>&nbsp;</p>
                                <p>دعم فني: <span class="link">
                                        <!--email_off-->vbox@the-v.net
                                        <!--/email_off-->

                                    </span>
                                </p>
                                <p>اهتمامات المحتوى والترجمة: <span class="link">
                                        <!--email_off-->vcomm@the-v.net
                                        <!--/email_off--></span>
                                </p><br />
                            </div>
                            <div>
                                <h4>مكتب الشركة</h4>
                                <h5>Malaysia</h5>
                                <p>اسم : VTC Sdn Bhd </p>
                                <p>رقم الشركة. :<span class="link">+603 7965 8299</span></p>
                                <p>عنوان مسجل : Level 13A, Qi Tower Block C PJ8,No.23 Jalan Barat Section 8 Petaling
                                    Jaya, SSelangor</p><br />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <h4>التواجد على الشبكة</h4>
                                <p><em class="fa-globe icon-2x"></em><a href="/en/home">The V Website </a> | <a
                                        href="/en/vtube">VTube+ </a> </p>
                                <p><em class="icon-facebook icon-2x"></em><a
                                        href="https://www.facebook.com/TheV.official/ ">The V </a> | <a
                                        href="https://www.facebook.com/thevtube/ "> VTube+ </a> | <a
                                        href="https://www.facebook.com/voyager.magazine/ "> Voyager Magazine </a></p>
                                <p><em class="icon-twitter icon-2x"></em><a
                                        href="https://twitter.com/thev_official?lang=en">The V: @thev_official </a></p>
                                <p><em class="icon-instagram icon-2x"></em><a
                                        href="https://www.instagram.com/thev_official/">The V: @thev_official </a></p>
                                <p><em class="fa-snapchat icon-2x"></em><a
                                        href="https://www.snapchat.com/add/thevofficial">The V</a> </p>
                            </div>
                        </div>
                        <div class="clearfix visible-md-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End: Contact Us Section 1-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->