<!--Start: FAQ Section 1-->
<section id="Section_Faq" class="vt-faq-wrapper vt-background--grey">
    <div class="container  py-4">
        <div class="d-flex justify-content-center align-items-center text-center">
            <!-- <div class="col-md-3 my-3">
                <div class="dropdown">
                    <select id="dropdownMenuButton" class="form-control form-control text-white">
                        <option>select 1</option>
                        <option>select 2</option>
                    </select>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="vt-background--grey-light p-4">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header px-0" id="headingOne">
                                <h3 class="mb-0"><button class="btn btn-link px-0" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                        ng-click="$event.preventDefault()"><strong>ماذا يمكنني أن أفعل مع لوحة
                                            القيادة؟</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body px-0">لوحة المعلومات الخاصة بك هي المكان الذي يمكنك من خلاله رؤية
                                    تفاصيل حسابك وتغييرها. يمكنك أيضًا إدارة حسابك على VTube + وتتبع نقاط نشاطك!
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingTwo">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                                        ng-click="$event.preventDefault()"><strong>التسجيل في الموقع</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body px-0">اسم مجموعتك هو اسم فريقك. في اللحظة التي قمت فيها بالتسجيل ،
                                    سيتم مشاركة upline معك ، واسم المجموعة الخاص بك والذي سيكون مطلوبًا عند التسجيل في
                                    الموقع.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingThree">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                                        ng-click="$event.preventDefault()"><strong>لماذا أحتاج إلى الاشتراك في VTube +
                                            عبر المتجر؟</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body px-0">إذا قمت بالتسجيل عبر موقع The V على الويب ، فلن يكون لديك
                                    سوى حساب مجاني مما يعني أنه لا يمكنك الوصول إلى جميع مقاطع الفيديو المميزة أو
                                    الجلسات الكاملة لسفراء V Ambassadors في مرحلة V-Con. بالإضافة إلى ذلك ، بعد سبعة
                                    أيام
                                    ، سيتم إغلاق جميع مقاطع فيديو المشرف ، وخاصة رسائل Chief الأربعاء.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingOne">
                                <h3 class="mb-0"><button class="btn btn-link px-0" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour"
                                        ng-click="$event.preventDefault()"><strong>ما هو موقع V؟</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body px-0">يعمل V كمتجر واحد لكل ما تحتاجه لمساعدتك طوال رحلة التواصل
                                    الخاصة بك ، أينما كنت وأينما كنت! يتكون موقع V من مواقع الويب الخاصة بـ The V و
                                    VTube + و VShoppe وغيرها من فعاليات V الكبيرة.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingTwo">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"
                                        ng-click="$event.preventDefault()"><strong>ما هو الخامس؟</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body px-0">معرفة ما هو كل شيء الخامس <a href="/ar/contacts">هنا!</a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingThree">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"
                                        ng-click="$event.preventDefault()"><strong>ما هو VTube +؟</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body px-0">VTube + هو مجتمع الفيديو عبر الإنترنت الأفضل والأكثر تفاعلًا
                                    والمكرس لتسويق الشبكات. إنه يحتوي على أرشيف فيديو موسع يتكون من مجموعة واسعة من
                                    برامج التسويق التي تلبي احتياجات كل IR ، وتخدم كدليل لا عيب فيه للنجاح في التسويق
                                    الشبكي ، والأهم من ذلك كله: أن تكون جزءًا من الثورة عبر الإنترنت من خلال مشاركة
                                    مقاطع الفيديو الخاصة بك و إثبات وجودك. اكتشف محتوى مذهل ، وتصفح آلاف القنوات ،
                                    وتواصل مع ملايين الأشخاص من جميع أنحاء العالم هنا على VTube
                                    +! يحتوي VTube + أيضًا على مجموعة واسعة من فئات الفيديو التي يمكنك الاختيار من
                                    بينها: رسائل التطوير الشخصي أبرز الإعلانات منتجات الترفيه شهادات أساليب العمل
                                    الأفلام والرسوم المتحركة
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingTwo">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight"
                                        ng-click="$event.preventDefault()"><strong>ما هو VShoppe؟</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseEight" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body px-0">VShoppe هو سوق The V على الإنترنت. هنا يمكنك شراء المنتجات
                                    الحصرية لـ The V ، مثل تذاكر V-Convention وتدريب أقراص DVD. VShoppe هو أيضًا حيث
                                    يمكنك إنفاق نقاط النشاط التي تكسبها من تصفح مواقع الويب الخاصة بـ The V و VTube
                                    ++!
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingThree">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine"
                                        ng-click="$event.preventDefault()"><strong>ما هو فوياجر؟</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseNine" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body px-0">تعتبر مجلة Voyager Magazine ، التي يطلق عليها اسم شريك حياتك
                                    المتطور في مجال التسويق الشبكي ، أداة تدريب ، وهي منبثقة عن الحكمة والدافع جميعها
                                    مدمجة في واحدة. مجلة Voyager متاحة بسهولة في الأحداث الكبيرة لـ The V. اغمر
                                    نفسك في الأخبار والأحداث ونصائح النجاح من الأفضل والألمع في الشبكة من خلال Voyager!


                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingOne">
                                <h3 class="mb-0"><button class="btn btn-link px-0" data-toggle="collapse"
                                        data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen"
                                        ng-click="$event.preventDefault()"><strong>ما هي نقاط النشاط؟</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseTen" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body px-0">يعد تصفح V و VTube + ممتعًا جدًا لأنك تتم مكافأتك بمجرد
                                    القيام بالأشياء التي تريد القيام بها. كل نشاط على مواقع الويب ، مثل إنشاء قناة أو
                                    تحميل مقطع فيديو أو مشاهدة مقطع فيديو أو ترك تعليق ، يكسبك نقاط نشاط! يمكنك استخدام
                                    نقاط النشاط لاسترداد المنتجات الرائعة على VShoppe.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingTwo">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseEleven" aria-expanded="false"
                                        aria-controls="collapseEleven" ng-click="$event.preventDefault()"><strong>كيف
                                            أسترد نقاط نشاطي؟
                                        </strong>
                                    </button></h3>
                            </div>
                            <div id="collapseEleven" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body px-0">يمكنك استرداد نقاط النشاط التي كسبتها بموجب عضوية مدفوعة
                                    نشطة. لقضاء نقاط النشاط الخاصة بك ، ما عليك سوى زيارة VShoppe وتحديد عنصر بالعدد
                                    المقابل من النقاط الذي يمكنك شراؤه.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingThree">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseTwelve" aria-expanded="false"
                                        aria-controls="collapseTwelve" ng-click="$event.preventDefault()"><strong>هل
                                            تنتهي صلاحية نقاط النشاط الخاصة بي؟</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseTwelve" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body px-0">إذا كنت تستخدم حسابًا مجانيًا أو لفترة تجريبية ، فإن نقاط
                                    النشاط الخاصة بك تنتهي صلاحيتها كل 60 يومًا. لكن الخبر السار: يمكنك استرداد نقاطك
                                    منتهية الصلاحية بمجرد اشتراكك في عضوية مدفوعة! هذا يعني أن جميع نقاط النشاط المكتسبة
                                    خلال الفترة التجريبية / المجانية سيتم ترحيلها إلى عضويتك المدفوعة!
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingThree">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseThirteen" aria-expanded="false"
                                        aria-controls="collapseThirteen" ng-click="$event.preventDefault()"><strong>هل
                                            الموقع متاح بلغات أخرى؟</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseThirteen" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body px-0">الموقع متاح في 9 لغات: العربية ، البهاسا ، البورمية ،
                                    الفرنسية ، الروسية ، السنغال ، التاميلية ، التركية والإنجليزية. يمكنك الوصول إلى
                                    الترجمة في مقاطع الفيديو من VTube + بالنقر فوق "cc" ؛ الزر الموجود في الجانب الأيمن
                                    السفلي من الفيديو.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingThree">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseFourteen" aria-expanded="false"
                                        aria-controls="collapseFourteen" ng-click="$event.preventDefault()"><strong>ماذا
                                            لو كنت أستخدم حساب Gmail ولم أتلق أي بريد إلكتروني للتفعيل؟</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseFourteen" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body px-0">افتح حساب Gmail الخاص بك. في قائمة الشريط الجانبي ، انقر فوق
                                    "المزيد" ثم قم بتوسيع رابط "الفئة". بعد توسيع "الفئة" ، سترى البريد الإلكتروني الخاص
                                    بتنشيط الموقع ضمن "العروض الترويجية". إذا كان لا يزال غير موجود ، فيرجى الاتصال
                                    بالمشرف.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End: FAQ Section 1-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->