<!--Start: Search Log Out Section 1-->
<section id="Section_SearchOutResult" ng-controller="ctrl_search" class="vt-SearchResult-wrapper vt-background--grey">
    <div class="container py-4">
        <a id="linkVtbSearchGoBack" class="vt-seeall__link pt-1" ng-click="goBack()">
            <picture class="d-inline-flex pr-2">
                <source srcset="/Resources/vtube/images/vt-arrow-left.svg" type="image/webp"></source>
                <source srcset="/Resources/vtube/images/vt-arrow-left.svg" type="image/jpeg"></source><img src="./Resources/vtube/images/vt-arrow-left.svg" alt="arrow left icon" /></picture>عودة
        </a>
        <div class="d-flex text-light pb-3">
            <h2 class="pr-2">نتائج البحث عن "<span id="txtVtbSearchName">{{title}}</span>"</h2>
        </div>
        <div class="row vt-cards text-light">
            <div class="col-lg-3 mb-4">
                <div>
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical"><a class="vt-search--nav-link nav-link active border" id="pillsVtbResultTab1" data-toggle="pill" href="#divVtbResultTab1" role="tab" aria-controls="v-pills-Tab1" aria-selected="true">أشرطة
 فيديو<span id="numVtbTab1Data">({{vidResultCount}})</span></a>
                        <a class="vt-search--nav-link nav-link border" id="pillsVtbResultTab2" data-toggle="pill" href="#divVtbResultTab2" role="tab" aria-controls="v-pills-Tab2" aria-selected="false">القنوات<span id="numVtbTab2Data">({{channelResultCount}})</span></a>
                        <!-- <a class="vt-search--nav-link nav-link border" id="pillsVtbResultTab3" data-toggle="pill"
                            href="#divVtbResultTab3" role="tab" aria-controls="v-pills-Tab3"
                            aria-selected="false">Category<span id="numVtbTab3Data">({{categoryResultCount}})</span></a> -->
                    </div>
                </div>
            </div>
            <div class="tab-content col-lg-9" id="v-pills-tabContent">
                <!-- videos -->


                <div class="tab-pane fade show active" id="divVtbResultTab1" role="tabpanel" aria-labelledby="v-pills-result-tab1">
                    <div role="tabpanel" aria-labelledby="v-pills-result-tab2" ng-if="vidResultCount == 0">لا توجد نتيجة ، جرّب مقاطع الفيديو هذه بدلاً من ذلك:</div>
                    <div class="d-flex justify-content-center row">
                        <div class="mb-3" ng-repeat="vid in vidResult | limitTo: loadVidLimit">
                            <div class="vt-card-wrapper col-md-auto px-0 mb-2 mx-1">
                                <div class="vt-cards__duration vt-background--grey-darker row">
                                    <div class="col p-0">
                                        <div class="px-2 py-1 d-flex float-left"><span id="txtVtbVideoDuration" class="pl-1 small">{{vid.time}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="vt-cards--darker rounded"></div>
                                <div class="vt-cards__overlay">
                                    <div class="d-flex mb-1">
                                        <a ng-if="checkVideoPrivacy(vid.videoPrivacy)" href="/ar/now-playing?watch={{vid.URL ? vid.URL : vid.id}}" type="submit" id="btnVtbPlay" class="btn btn-primary mr-2 d-flex align-items-center">
                                            <picture>
                                                <source class="vt-play__icon" srcset="/Resources/vtube/images/vt-play.svg"></source>
                                                <source class="vt-play__icon" srcset="/Resources/vtube/images/vt-play.svg"></source><img class="vt-play__icon mr-1" src="./Resources/vtube/images/vt-play.svg" alt="play icon" /></picture>
                                            لعب
                                        </a>
                                        <button type="button" ng-if="isLogged" class="btn btn-dark d-flex align-items-center" ng-click="addToPlaylist({{vid.URL ? vid.URL : vid.id}, $event)">
 <picture class="pl-1 overlay__icon"><source class="vt-addplaylist__icon align-self-center" srcset="/Resources/vtube/images/vt-add-to-playlist.svg"></source><source class="vt-addplaylist__icon align-self-center" srcset="/Resources/vtube/images/vt-add-to-playlist.svg"></source><img class="vt-addplaylist__icon align-self-center mr-1" src="./Resources/vtube/images/vt-add-to-playlist.svg" alt="add to playlist icon" /></picture>
 قائمة التشغيل
                                        </button></div>
                                    <div class="text-left d-flex">
                                        <picture class="d-flex">
                                            <source srcset="/Resources/vtube/images/vt-available-translations.svg"></source>
                                            <source srcset="/Resources/vtube/images/vt-available-translations.svg"></source><img class="img-fluid w-100" src="./Resources/vtube/images/vt-available-translations.svg" alt="Likes Placeholder" /></picture>
                                        <span class="text-muted" id="txtVtbvideoAvailableTranslations">{{vid.language}}</span>
                                    </div>
                                </div>
                                <picture>
                                    <source class=" vt-card--image rounded img-fluid" srcset="{{vid.image}}" ng-check-image=""></source>
                                    <source class="vt-card--image rounded img-fluid" srcset="https://via.placeholder.com/273x180"></source><img class="vt-card--image rounded img-fluid" src="https://via.placeholder.com/273x180" alt="Card Placeholder" /></picture>
                            </div>
                            <div class="text-center vt-card-title">
                                <p class="mb-1 vt-card-title">
                                    <a id="btnVtbPlay" ng-href="{{checkVideoPrivacy(vid.videoPrivacy, vid.tags) ? 
                                                vid.URL ? ('/now-playing?watch=' + vid.URL) : ('/now-playing?watch=' + vid.id) : $event.preventDefault()}}">
                                        <picture ng-if="vid.videoPrivacy == 'private'">
                                            <source srcset="/Resources/vtube/images/vt-premium-lock.svg"></source>
                                            <source srcset="/Resources/vtube/images/vt-premium-lock.svg"></source><img class="vt-cards__locked-icon mr-2 align-text-bottom" src="./Resources/vtube/images/vt-premium-lock.svg" alt="premium lock icon" /></picture>
                                        {{(vid.Title != undefined)? vid.Title : vid.title}}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div ng-if="vidResultCount != 0 && loadVidLimit < vidResultCount" class="col-lg-12 d-flex justify-content-center"><button class="btn btn-dark" id="btnVtbVideosViewMore" ng-click="limitIncrease($event)">عرض المزيد</button></div>
                </div>
                <!-- channel -->
                <div class="tab-pane fade" id="divVtbResultTab2" role="tabpanel" aria-labelledby="v-pills-result-tab2" ng-if="channelResultCount != 0">
                    <div class="d-flex justify-content-center row">
                        <div class="mb-3" ng-repeat="channels in channelResult | limitTo: loadChannelLimit track by $index">
                            <div class="vt-card-wrapper col-md-auto px-0 mb-2 mx-1">
                                <div class="vt-cards--darker rounded"></div>
                                <div class="vt-cards__overlay">
                                    <div class="d-flex mb-3"><button id="btnVtbFollowLink5" ng-if="isLogged && (!isFollowing(channels.id))" ng-click="follow(channels.id, $event); $event.stopPropagation()" class="btn btn-primary d-flex mr-1"><picture><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><img class="vt-cards--playbtn align-self-center mr-1 d-inline-flex" src="./Resources/vtube/images/vt-likes.svg" alt="Play icon" /></picture>
 إتبع
                                                </button><button id="btnVtbFollowLink5" ng-if="isLogged && (isFollowing(channels.id))" ng-click="unfollow(channels.id, $event); $event.stopPropagation()" class="btn btn-primary d-flex mr-1"><picture><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><source class="vt-cards--playbtn align-self-center" srcset="/Resources/vtube/images/vt-likes.svg"></source><img class="vt-cards--playbtn align-self-center mr-1 d-inline-flex" src="./Resources/vtube/images/vt-likes.svg" alt="Play icon" /></picture>
 الغاء المتابعة
                                                </button><a id="btnVtbViewChannelLink1" class="btn btn-info d-flex" href="/ar/channel-landing?channel={{channels.id}}">عرض القناة
                                                </a>
                                    </div>
                                </div>
                                <picture class="pr-1">
                                    <source srcset="{{channels.image}}"></source>
                                    <source srcset="{{channels.image}}"></source><img class="vt-card--image rounded img-fluid" src="https://via.placeholder.com/273x180" alt="Card Placeholder" /></picture>
                            </div>
                            <div class="text-center">
                                <p class="mb-1"><a id="btnVtbPlay" href="">{{channels.Title}}
 </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 d-flex justify-content-center"><button class="btn btn-dark" ng-if="loadChannelLimit < channelResultCount " id="btnVtbVideosViewMore" ng-click="limitChannelIncrease($event)">عرض المزيد
                                </button></div>
                </div>
                <!-- category -->
                <div class="tab-pane fade" id="divVtbResultTab3" role="tabpanel" aria-labelledby="v-pills-result-tab3" ng-if="categoryResultCount != 0">
                    <div class="d-flex justify-content-center row">
                        <div class="mb-3" ng-repeat="vid in categoryResult">
                            <div class="vt-card-wrapper col-md-auto px-0 mb-2 mx-1">
                                <div class="vt-cards__duration vt-background--grey-darker row">
                                    <div class="col p-0">
                                        <div class="px-2 py-1 d-flex float-left"><span id="txtVtbVideoDuration" class="pl-1 small">{{vid.time}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="vt-cards__points vt-background--grey-darker row">
                                    <div class="col p-0">
                                        <div class="  px-2 py-1 d-flex float-left">
                                            <picture class="d-flex">
                                                <source srcset="/Resources/vtube/images/vt-points.svg"></source>
                                                <source srcset="/Resources/vtube/images/vt-points.svg"></source><img src="./Resources/vtube/images/vt-points.svg" alt="Points icon" /></picture>
                                            <span id="txtVtbPoints" class="pl-1 small">{{vid.points}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="vt-cards--darker rounded"></div>
                                <div class="vt-cards__overlay">
                                    <div class="d-flex mb-1">
                                        <a ng-if="checkVideoPrivacy(vid.videoPrivacy)" href="/ar/now-playing?watch={{vid.URL ? vid.URL : vid.id}}" type="submit" id="btnVtbPlay" class="btn btn-primary mr-2 d-flex align-items-center">
                                            <picture>
                                                <source class="vt-play__icon" srcset="/Resources/vtube/images/vt-play.svg"></source>
                                                <source class="vt-play__icon" srcset="/Resources/vtube/images/vt-play.svg"></source><img class="vt-play__icon mr-1" src="./Resources/vtube/images/vt-play.svg" alt="play icon" /></picture>
                                            لعب
                                        </a>
                                        <button type="button" ng-if="isLogged" ng-click="addToPlaylist({{vid.URL ? vid.URL : vid.id}}, $event)" class="btn btn-dark d-flex align-items-center">
 <picture class="pl-1 overlay__icon"><source class="vt-addplaylist__icon align-self-center" srcset="/Resources/vtube/images/vt-add-to-playlist.svg"></source><source class="vt-addplaylist__icon align-self-center" srcset="/Resources/vtube/images/vt-add-to-playlist.svg"></source><img class="vt-addplaylist__icon align-self-center mr-1" src="./Resources/vtube/images/vt-add-to-playlist.svg" alt="add to playlist icon" /></picture>
 قائمة التشغيل

                                                </button></div>
                                    <div class="text-left">
                                        <p class=" text-muted mb-0">بواسطة
                                            <span id="txtVtbuploader">{{vid.createdBy}}</span>
                                            <span class="text-muted"> . </span>
                                            <span id="txtVtbdateUploaded" class="text-muted">{{vid.days}}
 </span></p>
                                    </div>
                                    <div class="text-left">
                                        <p class="text-muted mb-1"><span id="txtVtbvideoViews">{{vid.views}}</span> الآراء
                                            <span class="text-muted"> . </span>
                                            <span id="txtVtbvideoLikes">{{vid.likes}}</span> الإعجابات
                                        </p>
                                    </div>
                                    <div class="text-left d-flex">
                                        <picture class="d-flex pr-1">
                                            <source srcset="/Resources/vtube/images/vt-available-translations.svg"></source>
                                            <source srcset="/Resources/vtube/images/vt-available-translations.svg"></source><img class="img-fluid w-100" src="./Resources/vtube/images/vt-available-translations.svg" alt="Likes Placeholder" /></picture>
                                        <span class="text-muted" id="txtVtbvideoAvailableTranslations">{{vid.language}}</span>
                                    </div>
                                </div>
                                <picture class="pr-1">
                                    <source class="vt-card--image rounded img-fluid" srcset="{{vid.image}}" ng-check-image=""></source>
                                    <source class="vt-card--image rounded img-fluid" srcset="https://via.placeholder.com/273x180"></source><img class="vt-card--image rounded img-fluid" src="https://via.placeholder.com/273x180" alt="Card Placeholder" /></picture>
                            </div>
                            <div class="text-center vt-card-title">
                                <p class="mb-1 vt-card-title">
                                    <a id="btnVtbPlay" ng-href="{{checkVideoPrivacy(vid.videoPrivacy, vid.tags) ? 
                                                vid.URL ? ('/now-playing?watch=' + vid.URL) : ('/now-playing?watch=' + vid.id) : $event.preventDefault()}}">
                                        <picture ng-if="vid.videoPrivacy == 'private'">
                                            <source srcset="/Resources/vtube/images/vt-premium-lock.svg"></source>
                                            <source srcset="/Resources/vtube/images/vt-premium-lock.svg"></source><img class="vt-cards__locked-icon mr-2 align-text-bottom" src="./Resources/vtube/images/vt-premium-lock.svg" alt="premium lock icon" /></picture>
                                        {{vid.title}}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 d-flex justify-content-center"><button class="btn btn-dark" id="btnVtbVideosViewMore" ng-click="loadCategoryVids(9, $event)">View more</button></div>
                </div>
                <div class="tab-pane fade" id="divVtbResultTab2" role="tabpanel" aria-labelledby="v-pills-result-tab3" ng-if="channelResultCount == 0">لا نتيجة
                </div>
                <div class="tab-pane fade" id="divVtbResultTab3" role="tabpanel" aria-labelledby="v-pills-result-tab4" ng-if="categoryResultCount == 0">لا نتيجة
                </div>
                <div class="tab-pane fade" id="divVtbResultTab5" role="tabpanel" aria-labelledby="v-pills-result-tab5">لا نتيجة
                </div>
                <div class="tab-pane fade" id="divVtbResultTab6" role="tabpanel" aria-labelledby="v-pills-result-tab6">لا نتيجة
                </div>
                <div class="tab-pane fade" id="divVtbResultTab7" role="tabpanel" aria-labelledby="v-pills-result-tab7">لا نتيجة
                </div>
            </div>
        </div>
    </div>
</section>