<!--Start: FAQ Section 1-->
<section id="Section_Faq" class="vt-faq-wrapper vt-background--grey">
    <div class="container  py-4">
        <div class="d-flex justify-content-center align-items-center text-center">
            <!-- <div class="col-md-3">
                <div class="dropdown">
                    <select id="dropdownMenuButton" class="form-control form-control text-white">
                        <option>select 1</option>
                        <option>select 2</option>
                    </select>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="vt-background--grey-light p-4">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header px-0" id="headingOne">
                                <h3 class="mb-0"><button class="btn btn-link px-0" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                        ng-click="$event.preventDefault()"><strong>What can I do with the
                                            Dashboard?</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body px-0">Your Dashboard is where you can see and change your account
                                    details. You can also manager your VTube+ account and keep track of your Activity
                                    Points!
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingTwo">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                                        ng-click="$event.preventDefault()"><strong>Registration in the Website</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body px-0">Your group name is your team name. The moment you signed up,
                                    your upline will be sharing with you, your Group Name which will be required when
                                    you&rsquo;re registering in the website.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingThree">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                                        ng-click="$event.preventDefault()"><strong>Why do I need to subscribe to VTube+
                                            via the EStore?</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body px-0">If you register via The V website, you will only have free
                                    account which means you can&rsquo;t access all the premium videos or the full
                                    sessions of the V Ambassadors on the V-Con stage. Plus, after seven days, all admin
                                    videos will be locked, especially Chief&rsquo;s Wednesday Messages.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingOne">
                                <h3 class="mb-0"><button class="btn btn-link px-0" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour"
                                        ng-click="$event.preventDefault()"><strong>What is The V Website?</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body px-0">The V functions as your one stop shop for everything that
                                    you need to help you throughout your networking journey, whoever and wherever you
                                    are! The V Website is formed by the websites of The V, VTube+, VShoppe and other
                                    big V Events.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingTwo">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"
                                        ng-click="$event.preventDefault()"><strong>What is The V?</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body px-0">Find out what The V is all about <a
                                        href="/contacts">here!</a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingThree">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"
                                        ng-click="$event.preventDefault()"><strong>What is VTube+?</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body px-0">VTube+ is the best and most interactive online video
                                    community dedicated to network marketing. It has an extensive video archive that
                                    consists a wide array of marketing programs that caters to an IR&rsquo;s every need,
                                    serving as a faultless guide in succeeding in network marketing, and best of all: be
                                    part of the online revolution by sharing your own videos and establishing your
                                    presence. Discover amazing content, browse through
                                    thousands of channels, and connect with millions of people from around the world
                                    right here on VTube+! VTube+ also has a wide array of video categories that you can
                                    choose from: Personal Development Messages Highlights
                                    Announcement Entertainment Products Testimonials Business Methods Film &amp;
                                    Animation Multilingual Causes &amp; Non Profits
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingTwo">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight"
                                        ng-click="$event.preventDefault()"><strong>What is VShoppe?</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseEight" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body px-0">VShoppe is The V&rsquo;s online marketplace. Here you can
                                    purchase exclusive products of The V, such as V-Convention tickets and training
                                    DVDs. VShoppe is also where you can spend the Activity Points you earn from browsing
                                    through the websites of The V, and VTube++!
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingThree">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine"
                                        ng-click="$event.preventDefault()"><strong>What is Voyager?</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseNine" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body px-0">Dubbed as your cutting-edge network marketing partner,
                                    Voyager Magazine is a training tool, a wellspring of wisdom and motivation all
                                    rolled into one. Voyager Magazine is readily available at big events of The V.
                                    Immerse
                                    yourself in news, events, success tips from the best and brightest in the network
                                    through Voyager!


                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingOne">
                                <h3 class="mb-0"><button class="btn btn-link px-0" data-toggle="collapse"
                                        data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen"
                                        ng-click="$event.preventDefault()"><strong>What are Activity Points?</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseTen" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body px-0">Browsing The V and VTube+ is so much fun because you are
                                    rewarded by simply doing the things you want to do. Every activity on the websites,
                                    such as creating a channel, uploading a video, watching a video, or leaving a
                                    comment, earns you Activity Points! You can use Activity Points to redeem awesome
                                    products on VShoppe.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingTwo">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseEleven" aria-expanded="false"
                                        aria-controls="collapseEleven" ng-click="$event.preventDefault()"><strong>How do
                                            I redeem my Activity Points?
                                        </strong>
                                    </button></h3>
                            </div>
                            <div id="collapseEleven" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body px-0">You can redeem the Activity Points you&rsquo;ve earned under
                                    an active paid membership. To spend your Activity Points, simply visit VShoppe and
                                    select an item with the corresponding number of points you can afford.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingThree">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseTwelve" aria-expanded="false"
                                        aria-controls="collapseTwelve" ng-click="$event.preventDefault()"><strong>Do my
                                            Activity Points expire?</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseTwelve" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body px-0">If you&rsquo;re on a free or trial period account, your
                                    Activity Points expire every 60 days. But good news: you can reclaim your expired
                                    points once you subscribed to a paid membership! This means all Activity Points
                                    earned
                                    during your free/trial period will be carried over to your paid membership!
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingThree">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseThirteen" aria-expanded="false"
                                        aria-controls="collapseThirteen" ng-click="$event.preventDefault()"><strong>Is
                                            the website available in other languages?</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseThirteen" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body px-0">The website is available in 9 languages: Arabic, Bahasa,
                                    Burmese, French, Russian, Singhalese, Tamil, Turkish and English. You can access
                                    subtitles in the videos from VTube+ by clicking the &ldquo;cc&rdquo; button found
                                    at the lower right side of the video.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header px-0" id="headingThree">
                                <h3 class="mb-0"><button class="btn btn-link px-0 collapsed" data-toggle="collapse"
                                        data-target="#collapseFourteen" aria-expanded="false"
                                        aria-controls="collapseFourteen" ng-click="$event.preventDefault()"><strong>What
                                            if I am using Gmail account and I did not receive any activation
                                            email?</strong>
                                    </button></h3>
                            </div>
                            <div id="collapseFourteen" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body px-0">Open your Gmail account. On your sidebar menu, click
                                    &ldquo;More&rdquo; then expand &ldquo;Category&rdquo; link. After expanding
                                    &ldquo;Category&rdquo; you will see our site activation email under
                                    &ldquo;Promotions&rdquo;.
                                    If it&rsquo;s still not there, please contact your administrator.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End: FAQ Section 1-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->